libraries/Bot.Builder.Community.Middleware.EmulatorEvents/obj/Debug/netstandard2.0/Bot.Builder.Community.Middleware.EmulatorEvents.AssemblyInfo.cs
libraries/Bot.Builder.Community.Middleware.EmulatorEvents/obj/Debug/netstandard2.0/Bot.Builder.Community.Middleware.EmulatorEvents.AssemblyInfoInputs.cache
libraries/Bot.Builder.Community.Middleware.EmulatorEvents/obj/Debug/netstandard2.0/Bot.Builder.Community.Middleware.EmulatorEvents.csproj.CoreCompileInputs.cache
libraries/Bot.Builder.Community.Middleware.EmulatorEvents/bin/Debug/netstandard2.0/Bot.Builder.Community.Middleware.EmulatorEvents.deps.json
libraries/Bot.Builder.Community.Middleware.EmulatorEvents/bin/Debug/netstandard2.0/Bot.Builder.Community.Middleware.EmulatorEvents.dll
libraries/Bot.Builder.Community.Middleware.EmulatorEvents/bin/Debug/netstandard2.0/Bot.Builder.Community.Middleware.EmulatorEvents.pdb
libraries/Bot.Builder.Community.Middleware.EmulatorEvents/obj/Bot.Builder.Community.Middleware.EmulatorEvents.csproj.nuget.cache
libraries/Bot.Builder.Community.Middleware.EmulatorEvents/obj/Bot.Builder.Community.Middleware.EmulatorEvents.csproj.nuget.g.props
libraries/Bot.Builder.Community.Middleware.EmulatorEvents/obj/Bot.Builder.Community.Middleware.EmulatorEvents.csproj.nuget.g.targets
libraries/Bot.Builder.Community.Middleware.EmulatorEvents/obj/project.assets.json
libraries/Bot.Builder.Community.Middleware.EmulatorEvents/obj/Debug/netstandard2.0/Bot.Builder.Community.Middleware.EmulatorEvents.assets.cache
libraries/Bot.Builder.Community.Middleware.EmulatorEvents/obj/Debug/netstandard2.0/Bot.Builder.Community.Middleware.EmulatorEvents.csproj.FileListAbsolute.txt
libraries/Bot.Builder.Community.Middleware.EmulatorEvents/obj/Debug/netstandard2.0/Bot.Builder.Community.Middleware.EmulatorEvents.csprojAssemblyReference.cache
libraries/Bot.Builder.Community.Middleware.EmulatorEvents/obj/Debug/netstandard2.0/Bot.Builder.Community.Middleware.EmulatorEvents.dll
libraries/Bot.Builder.Community.Middleware.EmulatorEvents/obj/Debug/netstandard2.0/Bot.Builder.Community.Middleware.EmulatorEvents.pdb
